/*  NEON PROTOCOL ECOSYSTEM MODULE STYLESHEET */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,600,700,800');

main {
    position: relative;
    min-height: 50rem;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-size: 100%, auto;
    background-repeat: no-repeat;
    padding-block: 6rem;
    overflow: hidden !important;

    font-family: "Space Grotesk", monospace, sans-serif;
}
#ecosystemContainer {
    position: relative;
    width: 100%;
}
#ecoContent {
    position: absolute;
}
#ecosystemContainer img {
    position: absolute;
    left: 50px;
    z-index: 2;
    width: 2px;
    height: 0px;
    top: 50%;
    margin-top: -100px;
}
#ecosystemContainer #ecosystemWelcome {
    opacity: 0;
    width: 900px;
    padding-left: 20px;
    color: white;
    font-size: 18pt;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50px;
}
#ecosystemContainer #ecosystemWelcome #lastSentence {
    margin: 0;
    font-weight: 400;
    font-size: 14pt;
}
#ecosystemContainer #ecosystemWelcome #firstSentence {
    font-weight: 500;
    font-size: 22pt;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 2px;
}
#ecosystemContainer #ecosystemWelcome #universe {
    text-transform: uppercase;
    font-weight: 800;
}
#ecosystemContainer #ecoContent {
    top: 50%;
    margin-top: -70px;
    width: 500px;
    left: 70px;
}
#ecosystemContainer #ecoContent h2 {
    margin: 0;
}
#ecosystemContainer #ecoContent span {
    font-weight: 600;
}
#ecosystemContainer #ecoContent #ecoContentTitle {
    font-size: clamp(26px, 5vw, 36px);
    font-family: 'Neon',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 500;
    letter-spacing: 1px;

    color: #08e7fe;
    text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
    opacity: 1;
    font-weight: 200;
    letter-spacing: 1.5px;
    font-size: 26pt;
}
#ecosystemContainer #ecoContent #ecoContentTitle span {
    font-size: clamp(26px, 5vw, 36px);
    font-family: 'Neon',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    font-weight: 500;
    letter-spacing: 1px;

    color: #08e7fe;
    text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
}
#ecosystemContainer #ecoContent #ecoContentTitle div {
    font-size: 12pt;
    display: inline-block;
}
#ecosystemContainer #ecoContent #subtitle {
    letter-spacing: 1.5px;
    margin: 0;
    font-size: 16pt;
    font-weight: 200;
    color: white;
}
#ecosystemContainer #ecoContent #description {
    color: white;
    letter-spacing: 1.5px;
    font-weight: 200;
    font-size: 16pt;
}
#ecosystemContainer #ecoContent #description span {
    color: #08e7fe;
}
#ecosystemContainer #ecoContent #description div {
    color: #acacac;
    font-size: 10pt;
}
#ecosystemContainer #ecoContent #description a {
    color: white;
    line-height: 10px;
    transition: 0.3s;
}
#ecosystemContainer #ecoContent #description a:hover {
    line-height: 11px;
    font-weight: 500;
}
#ecosystemContainer, #ecoContent, #developmentStatus {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: 1.5px;
    font-size: 16pt;
}
#developmentStatus {
    position: relative;
    padding:2rem 1rem;
    box-sizing: border-box;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
}
