/*--------------------------------------------------------*/
/*	1. CSS RESET */
/*--------------------------------------------------------*/
@font-face {
	font-family: bitwise;
	src: url(../fonts/Bitwise-m19x.ttf);
}
@font-face {
  font-family: modeseven;
  src: url(../fonts/Modeseven-L3n5.ttf);
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
:root {  
  /* USED WITH EXO FONT --- Set neon color */
  --neon-text-color: #188dd6;
  --neon-border-color: #08f;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: #040115;
}

::-webkit-scrollbar-thumb {
  background: #188dd6;
  border-radius: 1rem;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #188dd6 #040115;
  scroll-behavior: smooth;
  background-color: #070114;
}

img {
  width: 100%;
}

body {
  position: relative;
  background-color: #040115 ;
  background: radial-gradient(#18142d, #040115 80%) !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

img {
  border-radius: 1.5rem;
}

ul.inline-list li {
  display: inline-block;
  padding-right: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.6rem 1.2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1.8rem;
  margin-bottom: 0.6rem;
}

iframe {
  width: 100%;
  min-height: 18rem;
  border-radius: 1.5rem;
}

#preload {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  z-index: 99999;
  overflow: hidden;
  pointer-events: none;

  background: radial-gradient(#18022f, #040118 80%) !important;
  color: #08e7fe;/* darker */
  text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
	font-family: 'Neon',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans"!important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/*--------------------------------------------------------*/
/*	2. UTILITIES */
/*--------------------------------------------------------*/
.container {
  max-width: 90rem;
  max-width: 92rem;
  padding-inline: 1.2rem;
}

.block {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 4rem;
}

.flex {
  display: flex;
  gap: 1.2rem;
}
.buttonsHold{
  margin-top:2vw !important;
  padding: 2vw 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  margin-bottom: 0 !important;
  justify-content: flex-start;
}
@media screen and (max-width: 600px) {
  .buttonsHold{
    margin-top:15vw !important;
    text-align: center;
  }
}
.gtm-sm-2 {
  grid-template-columns: repeat(2, 1fr);
}

.align-start {
  align-self: start;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.right {
  float: right;
}

.mx-w-25 {
  max-width: 18rem;
}

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.bg-primary {
  background: #188dd6;
}

.bg-primary-rgba {
  background: rgba(214, 24, 138, 0.6);
}

.bg-secondary {
  background: #050c1c;
}

.bg-secondary-rgba {
  background: rgba(2, 192, 202, 0.6);
}

.translateY-3 {
  transform: translateY(3rem);
}

.translateY--5 {
  transform: translateY(-5rem);
}

.icon-opensea {
  content: url("../imgs/icon-opensea.png");
  width: 2rem;
}

.space-vortex {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  aspect-ratio: 1;
  transition: 2s ease;
  margin-bottom: 0;
}
@media (max-width: 55em) {
  .space-vortex {
    margin-bottom: 0 !important;
  }
  .maskotDiv {
    display: none;
  }
  .introductionHold {
    text-align: left;
    padding-inline: 3vw;
  }
  .introductionHold p {
    text-align: left;
    margin-bottom:20px;
    /* max-width: none;
    */
  }
  .buttonsHold {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-block:10vw !important;
  }
  .introductionHold small{
    display: block;
  }
}

.space-vortex:hover {
  transform: scale(1.2);
}
.space-vortex.vortex-sm {
  width: 50%;
}
.space-vortex .arc {
  position: absolute;
  display: block;
  width: 85%;
  height: 85%;
  margin: 7.5%;
  border-radius: 50%;
  -webkit-animation: 120s rotate linear infinite;
          animation: 120s rotate linear infinite;
}
/* STYLE ONE 
.space-vortex .arc::before, .space-vortex .arc::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  width: 100%;
  height: 100%;
  border: 0.3rem solid transparent;
  border-color: #188dd6 transparent transparent transparent;
  border-radius: 50%;
  z-index: -8;
}
.space-vortex .arc:hover::before,
.space-vortex .arc:hover::after{
  border: none;
}
.space-vortex .btn-cta :hover{
  border: none;
}
*/
/* STYLE TWO */
.space-vortex .arc::before, .space-vortex .arc::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  display: block;
  width: 100%;
  height: 100%;
  border: 0.2rem solid transparent;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%;
  z-index: -8;
  box-shadow: 0 0 .1rem #fff, inset 0 0 .1rem #fff, 0 0 0.7rem var(--neon-border-color), inset 0 0 0.5rem var(--neon-border-color), 0 0 0.3rem var(--neon-border-color), inset 0 0 0.3rem var(--neon-border-color);
}

.space-vortex .arc::after {
  /* other effects ~ border-color: transparent transparent #c3dbf9 transparent; */
}

.space-vortex:hover .arc::before,
.space-vortex:hover .arc::after {
  border: none;
}

@media (min-width: 55em) {
  .container {
    text-align: left;
    margin-inline: auto;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gtc-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .order-md-2 {
    order: 2;
  }
}

.intro-container {
  margin-top:0;
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 2rem;
}
.introductionHold {
  margin:0 !important;
  background-color: rgba(0,0,0,0.95);
  background: radial-gradient(rgba(4, 1, 21, 0.7) 20%, rgba(4, 1, 21, 0.95) 80%) !important;/* shades outwards */
  background: radial-gradient(rgba(4, 1, 21, 0.95) 40%, rgba(4, 1, 21, 0.7) 80%) !important;/* shades inwards - blurry bg effect */
  
  border-radius: 2rem;
}

.introductionHold p{
  padding-block:1vw;
  box-sizing: content-box;
  max-width: 550px;
  font-size: clamp(27px, 6vw, 37px);
  font-weight: 100;
  max-width: 600px;
  line-height: 1;
  line-height: unset !important;
  border-radius: 1.5vw;
}
.introductionHold small{
  box-sizing: content-box;
  display: block;
}
.introductionHold h1, .introductionHold p, .introductionHold small, .buttonsHold{
  padding-inline-start: 1rem;
  box-sizing: border-box;
}
.buttonsHold{
  margin-top:1vh !important;
}
@media (max-width: 600px) {
  .introductionHold {
    text-align: left;
    padding-inline: 3vw;
  }
  .introductionHold p {
    text-align: left;
    margin-bottom:20px;
    /* max-width: none;
    */
  }
  .buttonsHold {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-block:10vw !important;
  }
  .introductionHold small{
    display: block;
  }
}

/*--------------------------------------------------------*/
/*	3. FONTS */
/*--------------------------------------------------------*/
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
}

h1, h2, h3 {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 2rem;
  font-weight: 900;
}

h1 {
  font-size: calc(1rem * 2.618);
  font-size: calc(1rem * 2);
}

h2 {
  font-size: calc(1rem * 1.618);
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFF;
}

a {
  font-family: "Space Grotesk", sans-serif;
  color: rgb(8, 231, 254);
  font-weight: 700;
  text-decoration: none;
  transition: all 1s ease-in;
}
a:hover {
  text-decoration: underline;
}

input, textarea {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
}

fieldset input {
  display: none !important;
}

button, a.btn {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.12rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

footer {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.txt-gradient {
  -webkit-text-fill-color: #08e7fe;
  background: linear-gradient(5deg, #188dd6, #050c1c 100%);
  background: none;
  -webkit-background-clip: text;
  display: inline-block;
}

.txt-center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

/*--------------------------------------------------------*/
/*	4. BUTTONS */
/*--------------------------------------------------------*/
button, a.btn {
  background-color: transparent;
  border-radius: 1.8rem;
  padding: 0.5rem 2rem;
  transition: background-color 0.8s, color 0.5s;
  cursor: pointer;
  color: #08e7fe;
  /* border: 0.5px solid #08e7fe; */
  border-radius: 8px;
  /* background-color: rgba(29,78,216,.2); */
}
button.btn-cta, a.btn.btn-cta, .btn-dext{
  color: #08e7fe;
  border: 0.5px solid #3399ff;
  border-radius: 8px;
  /* background-color: rgba(29,78,216,.2); */
}
button.btn-cta:hover, a.btn.btn-cta:hover {
  background-color: #09001d !important;
  border: 0.5px solid #3399ff;
}
button.btn-border:hover, a.btn.btn-border:hover {
  background-color: #09001d !important;
  border: 0.5px solid #3399ff;
}
button#goTop, a.btn#goTop {
  width: 38px;
  height: 38px;
  display: none;
  position: fixed;
  right: 1.8rem;
  bottom: 7rem;
  padding: 0.2rem;
  z-index: 99;
  -webkit-animation: fade ease 4s;
          animation: fade ease 4s;

  border: 1px solid #3399ff;
  border: 0.5px solid #08e7fe;
  border-radius: 50%;
  background-color: rgba(29,78,216,.2);
}
/* give go to dapp link same effect */
.account a{
  background-color: transparent;
  border-radius: 1.8rem;
  padding: 0.4rem 2rem;
  transition: background-color 0.8s, color 0.5s;
  cursor: pointer;
  text-decoration: none;
  color: rgb(8, 231, 254);
  background-color:rgba(13, 148, 136, 0.2);

  border: 0.5px solid #3399ff;
  background-color: rgba(29, 129, 216, 0.15);
}
.account a:hover {
  background-color: rgba(13, 148, 136, 0.2);
  color: #1b9ff1;
}
/* go to top */
button#goTop svg, a.btn#goTop svg {
  fill: rgba(255, 255, 255, 0.9);
  fill: #08e7fe;
}
button#goTop svg{
  width:25px;
  height:25px;
}
.wa-chat {
  display: block;
  position: fixed;
  background: #25d366 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
  background-size: 60%;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  right: 1rem;
  bottom: 1rem;
  padding: 0;
  z-index: 999;
  -webkit-animation: fadeIn ease 4s;
          animation: fadeIn ease 4s;
}
.wa-chat .wa-msg {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  width: 15rem;
  padding: 0.6rem 0.8rem;
  border-radius: 1rem;
  background-color: #050c1c;
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9rem;
  text-align: center;
  z-index: 999;
  box-shadow: 0 0 0.4rem #040115;
}
@media (min-width: 55em) {
  .wa-chat {
    height: 4rem;
    width: 4rem;
  }
  .wa-chat .wa-msg {
    visibility: hidden;
    bottom: 3rem;
    border-radius: 1rem 1rem 0;
    transform: rotateY(90deg);
    transform-origin: right;
    transition: 0.8s cubic-bezier(0.06, 0.8, 0.1, 1);
  }
  .wa-chat:hover .wa-msg {
    visibility: visible;
    transform: rotateY(0);
  }
}

/*--------------------------------------------------------*/
/*	5. HEADER AND NAVIVATION */
/*--------------------------------------------------------*/
header {
  position: fixed;
  width: 100%;
  padding-block: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.6s ease-in-out;
  z-index: 999;
}
header.bg {
  background-color: #040115;
}
header .container {
  grid-template-columns: 8rem 1fr;
}
header .container img {
  width: 4rem;
}
header .container a {
  display: inherit;
}
@media (max-width: 600px) {
  header .container img  {
    width:4rem;
  }
  header .container a {
    display: inherit;
  }
}
.mobile-nav-toggle {
  display: block;
  justify-self: end;
  width: 2.5rem;
  padding: 0;
  z-index: 9999;
}
.mobile-nav-toggle .bar1,
.mobile-nav-toggle .bar2,
.mobile-nav-toggle .bar3 {
  width: 100%;
  height: 0.5px;
  margin-block: 0.65rem;
  background-color: #08e7fe;
  transition: all 0.8s ease;
}
.mobile-nav-toggle[aria-expanded=true] .bar1 {
  transform: rotate(-45deg) translate(-50%, -50%);
}
.mobile-nav-toggle[aria-expanded=true] .bar2 {
  opacity: 0;
}
.mobile-nav-toggle[aria-expanded=true] .bar3 {
  transform: rotate(45deg) translate(-50%, -50%);
}
@media (min-width: 1220px) {
  .mobile-nav-toggle {
    display: none;
  }
}

nav#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 7rem;
  width: calc(100% - 1.2rem * 2);
  padding: 0.6rem 1.2rem;
  background-color: #040115;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
nav#navbar[data-visible=true] {
  transform: rotateX(0);
}
@media (max-width: 55em) {
  nav#navbar {
    box-shadow: 0 0.8rem 2rem rgba(37, 37, 45, 0.3);
  }
}
nav#navbar ul {
  text-align: center;
}
@media (max-width: 55em) {
  nav#navbar ul {
    width: 100%;
  }
}
nav#navbar ul li {
  display: block;
  padding-top: 1rem;
}
nav#navbar ul li.has-submenu > a::after {
  content: url(../imgs/icon-arrow.svg);
  display: inline-block;
  padding-left: 0.5rem;
  transition: all 0.5s ease-in-out;
}
nav#navbar ul li.has-submenu.open > a::after {
  transform: rotate(180deg);
  padding-right: 0.5rem;
}
nav#navbar ul li.has-submenu.open ul.submenu {
  display: block;
}
nav#navbar ul li a {
  color: rgba(255, 255, 255, 0.9);
}
nav#navbar ul li a:hover {
  color: #188dd6;
  text-decoration: none;
}
nav#navbar ul li ul.submenu {
  display: none;
  padding: 0.6rem 1.2rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  background-color: #091e31;
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
}
nav#navbar ul li ul.submenu li {
  display: block;
  padding-block: 0.5rem;
  padding-left: 0;
}
nav#navbar ul li ul.submenu li a {
  text-decoration: none;
}
.logoImg{
  max-width: 90px;
  display: flex;
  place-content: center;
}
@media (max-width: 680px){
  .logoImg {
    border-radius:50%;
    border:1px solid var(--neon-border-color);
    box-shadow:
          0 0 .2rem #fff,
          inset 0 0 .2rem #fff,
          0 0 1.5rem var(--neon-border-color),
          inset 0 0 1rem var(--neon-border-color),
          0 0 0.65rem var(--neon-border-color),
          inset 0 0 0.65rem var(--neon-border-color);  
  }
}
@media (max-height: 32em) {
  nav#navbar {
    overflow-y: scroll;
    max-height: 60vh;
  }
}
@media (max-width: 1220px) {
  nav#navbar .account {
    display: flex;
    flex-direction: column;
    width: auto;
    border-top: 0.2rem solid #091e31;
    margin-top: 1.2rem;
  }
  nav#navbar .account button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.8rem auto;
  }
  nav#navbar .account button.btn-cta {
    background: linear-gradient(45deg, #188dd6, #050c1c 80%);
    background: rgba(13, 148, 136, 0.2);
    color: rgba(255, 255, 255, 0.9);
    color: rgb(8, 231, 254);
    margin-top: 0;
  }
}
@media (min-width: 1220px) {
  nav#navbar {
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
    background-color: transparent;
    transform: rotateX(0);
  }
  nav#navbar ul {
    text-align: left;
  }
  nav#navbar ul li {
    display: inline-block;
    padding-right: 2rem;
    padding-top: 0;
  }
  nav#navbar ul li a {
    color: rgba(255, 255, 255, 0.9);
    /* old menu font size restore - delete below & restore padding block on <header/> */
    font-size: 16px;
    font-weight: 100;
  }
  nav#navbar ul li.has-submenu > a {
    color: rgba(255, 255, 255, 0.9);
  }
  nav#navbar ul li.has-submenu.open ul.submenu {
    position: absolute;
  }
  nav#navbar ul li ul.submenu {
    min-width: 10rem;
    margin-top: 2.55rem;
    background-color: #040115;
    box-shadow: 0 0.8rem 2rem rgba(37, 37, 45, 0.3);
  }
}

/*--------------------------------------------------------*/
/*	6. SECTIONS */
/*--------------------------------------------------------*/
section {
  padding-block: 6rem;
  overflow-x: clip;
}
#mint, #roadmap{
  padding-block: 2rem;
  background-color: rgba(0,0,0,0.2);
}
section.page-title {
  padding: 8rem 4rem 2rem;
  background: linear-gradient(7deg, #0f0b3f, #050c1c 90%);
  background: #040115;
  border-bottom-left-radius: 4rem;
}
section.page-title h1 {
  margin-bottom: 0.6rem;
}
.sectionCenter{
  padding:0 !important;
  background: radial-gradient(#18142d, #040115 80%) !important;
  background: radial-gradient(#141247, #040115 80%) !important;
}
section#activities {
  background: radial-gradient(#141247, #040115 80%) !important;
  background: radial-gradient(#141247 20%, #040115 80%) !important;
}
section.cta {
  background: linear-gradient(45deg, #040115 30%, #091e31);
  background: radial-gradient(#18142d, #040115 80%) !important;
}
section.cta .container {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  place-items: center;
  gap: 2rem;
}

section.er404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 80vh;
  background: linear-gradient(180deg, #188dd6, #040115 80%);
}


/*--------------------------------------------------------*/
/*	X. CUSTOM BODY STYLES */
/*--------------------------------------------------------*/

#slider {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../imgs/tgbconcept.png'); */
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%, auto;
  background-repeat: no-repeat;
}
#slider div.grid {
  gap: 1rem;
  z-index: 10;
}
#slider canvas {
  position: absolute;
  top:0;
  width:100%;
}
#slider h1 {
  margin-top: 2rem;
  /* color: rgba(255, 255, 255, 0.9); */
  background: unset;
  -webkit-text-fill-color: unset;
  -webkit-background-clip: unset;
}
#slider div {
  
}
@media (max-width: 55em) {
  #slider div {
    margin: 2rem 0 2rem;
  }
  #slider {
    min-height: 85vh;
    line-height: 1;
  }
  #slider .container {
    padding-top: 0;
  }
  #slider .container h1 {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
   /* changed with old NEON BG
   margin-top:-2vw;
   */
    display: block;
    text-align: left;
  }
  #slider .container img {
    max-width: 70%;
    margin-bottom: 0rem;
  }
  #slider .container div a.btn {
    padding-inline: 1.5rem;
  }
  #slider .container div:last-child {
    max-width: 30rem;
  }
}
@media (max-height: 44.5em) {
  #slider {
    min-height: 50rem;
  }
}

@media (min-width: 55em) {
  section.intro h1 {
    grid-column: span 2;
  }
  section.intro img {
    right: -30%;
    left: unset;
  }
  .out-container {
    position: relative;
    width: 150%;
    width:130%;
    left: -30%;
  }
  .bg-dark-circle {
    background-position: 22% 85%, center;
    background-size: 40%, auto;
    margin-block: 0;
  }
}

/*=======================================
    MOON MISSION
  =====================================*/
#missionHold {
  margin-block-end: 10vw;
}
.moonMission {
  font-size: clamp(50px, 4vw, 70px);
  text-align: center;
  margin-block: 2vw 5vw;
  color: #08e7fe;
  color:#040115;
  text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 10px #188dd6, 0 0 10px #38eeff, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff !important;
}
.firstMoon {
  font-size: clamp(20px, 3vw, 30px);
  margin:2vw !important;
}
.moonMission {
  -webkit-animation: move 4s infinite ease-in-out alternate;
  animation: move 4s infinite ease-in-out alternate;
  transform-origin: center;
  transition: 1s ease;
}

.howitworks .moonMission {
  margin-bottom: 0;
}
#mission, #neon_protocol, #platform, #neon-howitworks, #hedgingTools, #uxDesign, #mediaH1, #timeline, #tokenomics {
	font-size: clamp(26px, 5vw, 36px);
	font-family: 'Neon',monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans"!important;
	font-weight:500;
 /* color:#08e7fe; */
 letter-spacing: 1px;
}
.neon-blue {
  text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;  
  color: #92f1fc !important;
  color: #08e7fe !important;/* darker */
}
.howitworks img {
  width: clamp(250px, 30vw, 400px) !important;
}
#trav {
	-webkit-animation: blink 0.01s infinite alternate;
	-moz-animation: blink 0.01s infinite alternate;
	-o-animation: blink 0.01s infinite alternate;
	animation: blink 0.01s infinite alternate;
}
#glitch {
	text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 15px #188dd6, 0 0 15px #188dd6, 0 0 3px #188dd6, 3px 3px 0.5px #0e567c !important;
  color: #92f1fc !important;
  color: #08e7fe !important; /* darker */
	-webkit-animation: fadee 7s infinite alternate;
	-moz-animation: fadee 7s infinite alternate;
	-o-animation: fadee 7s infinite alternate;
	animation: fadee 7s infinite alternate;
}
.neon-purple {
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans"!important;
	font-size: clamp(17px, 2vw, 30px);
	margin: 0 auto;
	text-align: center;
	color: #38eeff;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 6px #fff, 0 0 6px #38eeff, 0 0 30px #38eeff;
}

@-moz-keyframes blink {
	70% {
	opacity: 0.8;
	}
}
@-webkit-keyframes blink {
	45% {
	opacity: 0.8;
	}
}
@-o-keyframes blink {
  70% {
    opacity: 0.8;
  }
}
@keyframes blink {
  70% {
    opacity: 0.8;
  }
}
@-moz-keyframes fadee {
  35% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.8;
  }
  48% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  52% {
    opacity: 0.5;
  }
  53% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fadee {
  35% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.8;
  }
  48% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  52% {
    opacity: 0.5;
  }
  53% {
    opacity: 0.8;
  }
}
@-o-keyframes fadee {
  35% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.8;
  }
  48% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  52% {
    opacity: 0.5;
  }
  53% {
    opacity: 0.8;
  }
}
@keyframes fadee {
  35% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.4;
  }
  46% {
    opacity: 0.8;
  }
  48% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  52% {
    opacity: 0.5;
  }
  53% {
    opacity: 0.8;
  }
}

/*=======================================
    SOLAR SECTION
  =====================================*/
#solarSection, #newsSection{
  position:relative;
  padding:3em 0;
  box-sizing: border-box;

  background: radial-gradient(#040115 20%, #040115 80%) !important;
}
@media screen and (max-width: 600px) {
  #solarSection, #newsSection{
    min-height: 400px;
  }
}
.sectionH1{
  margin-block: 5vw;
  font-size: clamp(28px, 3vw, 40px) !important;
  font-weight: 400;
  padding:0 8vw;
  box-sizing: border-box;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}
.usecase h1, .highlights h1{
  margin-top: 20px;
}
.usecase{
  animation: flicker 1.5s infinite alternate;
  border: 0.5px solid #FFF;
  border-radius: 2vw;
  padding: 1.2vw 3vw;
  box-sizing: border-box;
}
.usecase h3{
  margin-bottom: 1vw;
}
.usecaseCont {
  margin-top:60px;
}
.usecaseCont img {
  max-width: clamp(400px, 5vh, 600px);
  /* border: 0.5px solid var(--neon-border-color); */
  box-shadow:
          0 0 .1rem #38127c,
          0 0 2rem var(--neon-border-color),
          0 0 0.3rem var(--neon-border-color);  
}
.toolImage {
  font-size: clamp(90px, 10vw, 150px);
  border-radius: 50%;
  color: #040115;
  text-shadow: 0 0 2px var(--neon-border-color), 0 0 3px var(--neon-border-color), 0 0 10px var(--neon-border-color), 0 0 10px var(--neon-border-color), 0 0 3px var(--neon-border-color), 2px 2px 0.5px var(--neon-border-color);
}
.swapsToolImg {
  text-shadow: 0 0 2px #7e22ce, 0 0 3px #7e22ce, 0 0 10px #7e22ce, 0 0 10px #7e22ce, 0 0 3px #188dd6, 2px 2px 0.5px #188dd6;
}
.optionsToolImg {
  text-shadow: 0 0 2px #089353, 0 0 3px #089353, 0 0 10px #089353, 0 0 10px #089353, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff;
}
.loansToolImg {
  text-shadow: 0 0 2px #188dd6, 0 0 3px #188dd6, 0 0 10px #188dd6, 0 0 10px #188dd6, 0 0 3px #38eeff, 2px 2px 0.5px #38eeff;
}
.howitworks {
  padding-block: 3vw 1vw;
}
.howitworks img{
  width: 100%;
  height:auto; /* width 100% & height auto = responsive image */
  cursor: pointer;
  /*
  box-shadow: 0 0 .05rem #fff, inset 0 0 .05rem #fff, 0 0 0.352rem var(--neon-border-color), inset 0 0 0.25rem var(--neon-border-color), 0 0 0.16rem var(--neon-border-color), inset 0 0 0.16rem var(--neon-border-color);
  */
}
.hedgingToolsNotes {
  padding-inline: 5vw;
  text-align: justify;
}
.sectDescription {
  padding-inline:3vw;
  box-sizing: border-box;
  margin:2vw auto;
  width: 100%;
  max-width: 900px;
  font-size: clamp(14px, 1vw, 15px) !important;
  color: #FFF;
  text-align: justify;
}
@media (max-width: 55em) {
  .howitworks {
    padding-block:8vw 0;
  }
}
/* NEWS SECTION */
#newsSection{
  text-align: center;
}
.newsCard{
  display: inline-block;
  text-align:center;
  cursor:pointer;
  margin: 1.2em;
}
.articlePic{
  margin:0px auto;
  min-height:120px;
  border-radius:2vw 2vw 0 0;
  background-color: #38127c;
  border:1px solid #38127c; 
}
#article1{
  background-image: url(../imgs/banks.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#article2{
  background-image: url(../imgs/funds.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsCard{
  max-width: 400px;
  gap: 0;
  place-items: center;
  grid: min-content;
  grid-template-columns: repeat(1,1fr);
}
.highlights{
  animation: marker 5s infinite alternate;
  border: 0.5px solid #fff;
  border-radius: 2vw;
  padding: 0.6vw 1.2vw;
  box-sizing: border-box;
  font-size: 15px;
}
.highlights h1{
  font-size:clamp(20px, 2vw, 25px);
  margin-bottom: 0.5vw;
}
.preview{
  font-size: clamp(15px, 2vw, 16px);
  text-align: justify;
}
/* Animate neon flicker */
@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      box-shadow:
          0 0 .2rem #fff,
          inset 0 0 .2rem #fff,
          0 0 1.5rem var(--neon-border-color),
          inset 0 0 1rem var(--neon-border-color),
          0 0 0.65rem var(--neon-border-color),
          inset 0 0 0.65rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      box-shadow: none;
  }    
}
@keyframes marker {    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      box-shadow:
          0 0 .1rem #fff,
          inset 0 0 .1rem #fff,
          0 0 0.7rem var(--neon-border-color),
          inset 0 0 0.5rem var(--neon-border-color),
          0 0 0.3rem var(--neon-border-color),
          inset 0 0 0.3rem var(--neon-border-color);        
  }
  20%, 24%, 55% {        
      box-shadow: none;
  }    
}
/*=======================================
    HOW IT WORKS: OPTIONS & EQUITY SWAPS
  =====================================*/
.worksHold{
  display: flex;
  flex-wrap: wrap;
}
.callOptions, .putOptions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 3vw;
}
@media (max-width: 680px){
  .callOptions, .putOptions {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.callOptions h1{
  text-transform: uppercase;
}
.callDescription{
  /*
  color:#000;
  width:100%;
  font-size: clamp(15px, 1vw, 16px);
  text-decoration: underline;
  text-decoration-color: #08E7FE;
  text-align: left;
  padding:5px;
  box-sizing: border-box;
  background-color: #08E7FE;
  border-radius: 0.5vw;
  */
  color: #FFF;
    width: 100%;
    font-size: clamp(15px, 1vw, 16px);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0.5vw;
    border:0.5px solid #050c1c;
    box-shadow: 0 0 0.2rem #08E7FE, inset 0 0 0.2rem #08E7FE, 0 0 1.5rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color), 0 0 0.65rem var(--neon-border-color), inset 0 0 0.65rem var(--neon-border-color);
    animation: 5s ease 0s infinite alternate none running flicker;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(8, 231, 254);
    background-color: #10092a;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* stretch out
  margin-right: -15px;
  margin-left: -15px;  */
  background-color: #040115;
  background: none;
  border: 1px solid #0d948833;
  border-radius: 2%;
}
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-block: 5px;
  padding-inline: 15px;
  box-sizing: border-box;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  flex-basis: 50%;
  text-align: left;
}
.counts{
  color: #08E7FE;
  font-size: 22px;
}
.heading_right {
  color: #FFF;
  line-height: 30px;
  font-size: clamp(14px, 1vw, 14px);
  padding-top: 5px;
  box-sizing: border-box;
}
.text_p {
  font-size: 13px;
  padding-top: 10px;
  color: #D1D1D1;
  font-weight: 500;
}
/*==================================
    SAMPLE CARD FROM BETA
  =================================*/
  .hedgeTimeline{
    position:relative;
    top:0;
    padding-top: 2.5vw;
    box-sizing: border-box;
    display: inline-block;/* for us to center as child elements of v-align & t-align above */
    vertical-align: middle;
    text-align:center;
    width:100%;
  }
  .aiAnalyHold{
    text-align: center;
    background: radial-gradient(#18142d, #040115 80%) !important;
  }
  @media (max-width: 55em) {
    .aiAnalyHold {
      padding:2vw 0;
    }
    .guidetothegalaxy{
      margin:5vw auto;
    }
  }
  .aiAnalyHold h1{
    padding:0 2vw;
    box-sizing: border-box;
    display:block;
    margin:2vw auto;
  }
  @media (max-width: 55em) {
    .aiAnalyHold h1 {
      margin:5vw;
    }
  }
  .aiAnalysis{
    position: relative;
    height: 220px;
    transition: all 1s ease-in-out;
    width: 250px;
    display: inline-block;
    vertical-align: middle;
    margin:0 2%;
    padding:1% 0;
    box-sizing: border-box;
  }
  @media (max-width: 55em) {
    .aiAnalysis {
      padding:5% 0;
    }
  }
  .aicontainer {
    align-items: center;
    display: block;
    height: 220px;
    transition: all 1s ease-in-out;
    width: 250px;
  }
  .aiHead{
    position: relative;
    width:80px;
    height:80px;
    margin:0px auto;
    background-image: url(../imgs/aibottemp2.webp); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  .aishape {
    background: linear-gradient(45deg, #040115 0%, #5D6BF8 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 220px;
    transition: all 1s ease-in-out;
    width: 250px;
    z-index: 5;
    color:#000;
 }
 
 @keyframes morph {
   0% {
       border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
       background: linear-gradient(45deg, #5D6BF8 0%, #040115 100%);
   } 
   
   50% {
       border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
       background: linear-gradient(45deg, #040115  0%, #5D6BF8 100%);
   }
   
   100% {
     border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
     background: linear-gradient(45deg, #040115  0%, #5D6BF8 100%);
   } 
 }
 .aiverdict{
  width:100%;
  font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
	font-size: clamp(13px, 1vw, 14px) !important;
  line-height:1;
  text-align:center;
  text-decoration:dotted;
  padding:5px 5%;
  padding-left:8%;
  box-sizing: border-box;
  color:#fff;
 }
 span#typewrite {/* effect on span */
	animation: caret 0.7s steps(10) infinite;
	border-right: .20em solid; /* The typwriter cursor */
}
@keyframes caret {
	from, to { border-color: #b5253a }/* change from black to orange blinking */
	100% { border-color: #171846 }
}

/*=====================================
    HEDGE OPTIONS CARDS excl loans
======================================*/
.hedgeGrid{
    position: relative;
    margin:0px auto;
    border-bottom: 0.5px dotted #a1a1a1;
    text-align: center;

    display: flex;
    justify-content: center;    
    padding-bottom: 10px;
    box-sizing: border-box;
}
.hedgeCard{
    position: relative;
    width: calc(100% - 1em);
    max-width:450px;
    display: inline-block;
    vertical-align: middle;
    border:0.5px solid #202A44;
    border-radius:5px;
    line-height:1.5;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
    font-size: clamp(14px, 2vw, 17px);

    padding:1vw;
    box-sizing:border-box;
    background-color: #0f082e;
    background: radial-gradient(#18142d, #1d1f56 80%) !important;
    background-position: top right;
    background-repeat: no-repeat;
    color:#EEE;
}
.tokenLogoLeft {
    position: relative;
    margin-inline: 1.5vw;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
  }
  .tokenName{
    display: inline-block;
    font-weight: 600;
    font-size: clamp(17px, 2vw, 20px);
    text-align:left;
  }
  .bagsize{
    width:100%;
    line-height:20px;
    font-size: 13px;
    color:#188dd6;
    text-align: center;
  }
  .valueHold{
    margin:15px 0;
  }
  .flux {
    display: inline-block;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica, Arial !important;
  }
  .optionMarketValue{
    /* color:#0c9556; */
    color: #188dd6;
    text-shadow: 0 0 1.5vw #38409b;
  }
  .optionMarketValue, .optionType{
    position: relative;
    height:auto;
    font-size: clamp(16px, 2vw, 18px);
    padding-inline: 10px;
  }
  .optionType {
    display: inline-block;
    color: #FFF;
    text-shadow: 0 0 1.5vw #FFF;
    background-color: #089353;
    border-radius: 1.8rem;
    border-radius: 7px;
    line-height:1.5;
  }
  .optionMark{
    position: relative;
    height:auto;
    width:85%;
    margin:3px auto;
    display:block;
    border-radius:1vw;
    padding:2px;
    box-sizing: border-box;
    text-align: center;
    
    font-size: clamp(13.5px, 1vw, 15.5px);
    font-weight: 100;
    line-height: 1;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .highlightOption{
    padding-top:2px;
  }
  .optionMark span{
    display: inline-block;
    width:40%;
    text-align: right;
    padding-inline: 8px;
    letter-spacing: 0.5px;
  }
  .oMfigure{
    text-align: left !important;
  }
  .optionSummary{
    margin-top: 15px;
    width:100%;
    height:auto;
    min-height:30px;
    padding:3px 10px;
    padding-top:0;
    box-sizing:border-box;
    text-align:center;
    font-weight:400;
    color:#DDD;
    font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans";
  }
  ._socials{
    flex-basis:60% !important;
  }
  .option_S_tab{
    position: relative;
    display: inline-block;
    padding-top:10px;
    box-sizing: border-box;
    width:auto;
    text-align: center !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
  }
  .actionButton{
    background-color: transparent;
    border-radius: 1.8rem;
    padding: 0.6rem 1.5rem;
    transition: background-color 0.8s, color 0.5s;
    cursor: pointer;
    
    font-family: "Space Grotesk", sans-serif;
    font-family: 'modeseven','bitwise', sans-serif, "Helvetica Neue", Helvetica;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-inline:1vw;
  }
  .buyButton{
    color: rgba(255, 255, 255, 0.9);
    border:0.5px solid #089353;
  }
  .buyButton:hover {
    background-color: #252525;
    color: #089353;
    border:0.5px solid #FFF;
  }
  .activeButton{
    color: rgba(255, 255, 255, 0.9);
    border:0.5px solid #089353;
  }
  .expiredButton{
    color: #d23969;
    border:0.5px solid #FFF;
  }
  .expiredButton:hover {
    background-color: #252525;
    color: #d22b60;
    border:0.5px solid pink;
  }
  ._activestate, ._bookmarkjump{
    height: 34.7px; 
    display: inline-block; 
    align-items: center; 
    justify-content: center;
  }
  ._activestate img,._bookmarkjump img{
    width:16px !important;
    display:inline !important;
    border-radius: 0 !important;
    vertical-align: middle;
  }
  .status-dot {
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-weight:400 !important;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 50px;
  }
  .status-dot svg {
    font-size: 8px;
    margin-right: 4px;
  }
  .status-dot.filled, .status-dot.inprogress {
    background-color: rgb(209, 250, 229);
    color: rgb(16, 185, 129);
    color:#126c41
  }
  .status-dot.inrepaying {
    background-color:rgba(255, 179, 0, 0.2);
    color:#ffb300;
  }
  .status-dot, .status-dot.ended {
    background-color: rgb(255, 234, 239);
    color: rgb(255, 52, 101);
  }
  .view_option{
    display:inline !important;
    font-size: clamp(12.2px, 1vw, 13.5px);
    font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
    color: #188dd6  !important; 
    font-weight:400 !important;
    white-space: nowrap;
  }
  .social_links {
    display: inline-flex;
    flex-basis: 40%;
    padding: 2px;
    box-sizing: border-box;
    background-color: #252525 ;
    }
  .social_links img{
    width:18px;
    color: #252525  !important;
  }
/*==================================
    TIMELINE
===================================*/
#roadmap{
  background-image: url("../imgs/launch.webp"), radial-gradient(#16112f, #040115 80%); 
  background-color: #16112f;
  background-size: 35%;
  background-position: center;
  background-repeat:repeat-x;
}
.Container_container__WAGEk {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-family:monospace, sans-serif, "Helvetica Neue", Helvetica, Arial !important;
  font-size: clamp(14px, 1vw, 17px);
  line-height: 21px;
  color:#FFF;
}
.Container_container__WAGEk h2{
  font-weight: 400;
  line-height: 21px;
}
.Roadmap_roadmapGrid__cKmwx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
    grid-template-areas:
    "a b" 
    "c d" 
    "e f" 
    "g h" 
    "i j" 
    "k l";
    justify-items: start;
}
.Roadmap_roadmapItem__LU10a {
 /* margin:1vw auto; */
}
.Roadmap_itemOne__Q3yOw {
  grid-area: a;
  margin-left: auto !important;
}
.Roadmap_itemTwo__2bPYf {
  grid-area: b;
}
.Roadmap_itemThree__ZZs5e {
  grid-area: c;
  margin-left: auto !important;
}
.Roadmap_itemFour__4VmPh {
  grid-area: d;
}
.Roadmap_itemFive__FmZiS {
  grid-area: e;
  margin-left: auto !important;
}
.Roadmap_itemFive__3Pcy2F{
  grid-area: f;
}
.Roadmap_roadmapItem__LU10a h3 {
  line-height: 50px;
  margin-bottom: 15px;
  text-align: right;
  text-align: justify;
  
}
.Roadmap_roadmapItem__LU10a p {
  line-height: 160%;
  text-align: right;
  text-align: justify;
  max-width: 364px;
}
.Roadmap_itemTwo__2bPYf h3, .Roadmap_itemTwo__2bPYf p {
  text-align: left;
  text-align: justify;
}
.Roadmap_itemFour__4VmPh h3, .Roadmap_itemFour__4VmPh p {
  text-align: left;
  text-align: justify;
}
.Roadmap_itemFive__3Pcy2F h3, .Roadmap_itemFive__3Pcy2F p{
  text-align: left;
  text-align: justify;
}
/* BORDER GLOW TIMELINE */
.glow1{
  border: 1px solid transparent;
  border-radius: 2vw;
  background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#02182c,#188dd6 56.46%,#188dd6 86.35%);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  padding:1vw 2vw;
  box-sizing: border-box;
}
.glow2{
  border: 1px solid transparent;
  border-radius: 2vw;
  background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#02182c,#188dd6 56.46%,#188dd6 86.35%);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  padding:1vw 2vw;
  box-sizing: border-box;
}
.glow3{
  border: 1px solid transparent;
  border-radius: 2vw;
  background-image: linear-gradient(#000,#000),linear-gradient(to bottom right,#188dd6,#02182c 56.46%,#188dd6 86.35%);
  background-origin: border-box;
  background-clip: padding-box,border-box;
  padding:1vw 2vw;
  box-sizing: border-box;
}
/*--------------------------------------------------------*/
/*	7. CARDS */
/*--------------------------------------------------------*/
.card {
  position: relative;
  border-radius: 1.5rem;
  padding: 1.2rem;
  overflow: hidden;
}
.card * > :last-child {
  margin-bottom: 0;
}
.card img {
  transform: translateY(-4rem);
}
.card .card-overlay {
  position: absolute;
  inset: 0;
  top: unset;
  padding: 2rem 1.2rem;
  border-radius: 1.5rem 0 0 0;
  background: linear-gradient(45deg, #188dd6, #050c1c 80%);
  transition: 0.35s ease-in-out;
  z-index: 1;
}
.card .card-overlay::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(2, 192,202)"><path d="M 40 80 c 22 0 40 -22 40 -40 v 40 Z"></path></svg>');
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 70px;
  height: 70px;
}
.card .card-overlay h2 {
  margin-bottom: 0;
}
.card .card-overlay > p:not(:last-child) {
  margin-bottom: 1.2rem;
}
.card .card-overlay i {
  font-size: calc(1.2rem * 1.618);
  color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 55em) {
  .card img {
    transform: none;
  }
  .card .card-overlay {
    transform: translateY(56%);
  }
  .card .card-overlay:hover {
    transform: translateY(0);
  }
}

/*--------------------------------------------------------*/
/*	8. ECOSYSTEM TOKEN */
/*--------------------------------------------------------*/
#mint {
  background: radial-gradient(#120e27, #040115 80%);
}
#mint h4 {
  text-align: justify;
  font-weight: 300;
  padding-bottom: 1rem;
  max-width: 92rem;
  padding-inline: 1.2rem;
  display: block;
  margin-inline: auto;
}
.experienceCont {
  position: relative;
  overflow: hidden;
  grid-template-columns: 1fr 35% !important;
  gap:0;
  column-gap: 1rem;
  margin-bottom: 3rem;
}
.experience {
  position: relative;
  width: 100%;
  height: 100%;
}
.tokenInformation {
  position: relative;
}
.tokenInformation h2, .tokenInformation h3, .tokenInformation p {
  font-size: 1.3rem !important;
}
@media (max-width: 650px) {
	.experienceCont {
		grid-template-columns: 1fr !important;
	}
  #mint h4 {
    text-align: left;
  }
  .experience {
    display:none;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .tokenInformation h2, .tokenInformation h3, .tokenInformation p {
    font-size: 1.2rem !important;
  }
}

/*--------------------------------------------------------*/
/*	9. CAROUSELS */
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*	10. FOOTER */
/*--------------------------------------------------------*/
.er-404 footer {
  border-top-right-radius: 0;
}

footer {
  position: relative;
  padding-block: 6rem 4rem;
  background-color: #040115;
  border-top-right-radius: 4rem;
}
footer::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  height: 0.6rem;
  background-image: linear-gradient(45deg, #188dd6, #050c1c 80%);
}
footer .container {
  gap: 2rem;
}
@media (min-width: 55em) {
  footer .container {
    grid-template-columns: repeat(5, 1fr);
    place-items:stretch;
  }
  footer .container p:last-child {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    grid-column: span 5;
  }
}
footer .container img {
  width: 8rem;
}
footer .container i {
  font-size: 2rem;
}
footer .container li a {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
}
footer .container li a:hover {
  font-weight: 400;
}
.text-align-center{
  text-align: center;
}
.footerContainer {
  text-align: center;
  padding-top: 5vw;
}
.badgeLeft {
  margin-top:-5vw;
  /* delete everything below to top:-10vw; for original flow */
  margin-top: unset;
  margin-top: -15%;
  position: relative;
}
.badgeLeft a.footermaskot{
  position: absolute;
  position: relative;
  left: 0;
  right: 0;
}
.badgeLeft p {
  font-weight: 600;
}
/*--------------------------------------------------------*/
/*	11. MODALS */
/*--------------------------------------------------------*/
#loginModal, #signUpModal, #walletModal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation: fadeIn 0.5s ease-in;
          animation: fadeIn 0.5s ease-in;
  z-index: 9999;
}
#loginModal.open, #signUpModal.open, #walletModal.open {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 28rem;
  min-width: 21rem;
  padding: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background: linear-gradient(45deg, #040115 30%, #091e31);
  border-radius: 1.2rem;
  transition: all 0.8s ease;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
  box-shadow: 0 0.8rem 2rem rgba(37, 37, 45, 0.3);
}
.modal .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.modal img {
  width: 12rem;
  padding-block: 2rem;
}
.modal h2 {
  color: #188dd6;
}
.modal form > * {
  margin-bottom: 0.8rem;
}
.modal form label {
  float: left;
}
.modal p {
  margin-block: 2rem;
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
.modal button:hover svg {
  fill: #188dd6;
}
.modal button.btn-cta {
  background: linear-gradient(45deg, #188dd6, #050c1c 80%);
  color: rgba(255, 255, 255, 0.9);
}
.modal button svg {
  fill: rgba(255, 255, 255, 0.9);
  height: 1.2rem;
  transition: fill 0.6s;
}

/*--------------------------------------------------------*/
/*	12. ANIMATIONS */
/*--------------------------------------------------------*/
.pulse {
  -webkit-animation: pulse 4s infinite ease-in-out alternate;
          animation: pulse 4s infinite ease-in-out alternate;
  transform-origin: center;
  transition: 1s ease;
}

.move {
  -webkit-animation: move 4s infinite ease-in-out alternate;
          animation: move 4s infinite ease-in-out alternate;
  transform-origin: center;
  transition: 1s ease-in-out;
}

.zoom-hover {
  transition: 0.4s ease;
}
.zoom-hover:hover {
  transform: scale(1.3);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: top;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: top;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.05);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(1.8rem);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(1.8rem);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(8100deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(8100deg);
  }
}/*# sourceMappingURL=style.css.map */